<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog App</title>
    <link rel="stylesheet" href="/public/bootstrap/css/bootstrap.css">
</head>

<style>
    body {
        background-color: #ecf0f5;
    }

    main {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    form {
      margin-left: auto;
      margin-right: 3em;
      margin-top: 2em;
      width: 40%;
    }
</style>
<body>
    <div class="container">
        <header>
          <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
              </div>
            </div>
          </nav>
        </header>
        <main>
          <form action="/login" method="POST">
              <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" name="user_name" placeholder="Username">
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" class="form-control" placeholder="Password">
              </div>
              <button style="border-color:#343a40" type="submit" class="btn btn-primary bg-dark">Log in</button>
            </form>
        </main>
    </div>
</body>
</html>